@charset "UTF-8";
/* CSS Document for the Homepage of 'explore.travellr'
Author: Robert Tilt, Jake Bresnehan
*/

/***********************
 * Div Positioning
 ***********************/
 
 /* Wrapper for the everything minus the footer links */
#wrapper 	{
	margin: 0 auto 0;
	width: 966px;
	min-height: 100%;

}

/* This is sitting above the main div, and is needed to push the main div
 * down without breaking the sticky footer */
.push {
    min-height: 100px;
}

/*The main div, acts like a miny wrapper */
#main {
    background:url(images/bg.jpg) no-repeat 0 0;
    width: 960px;
    overflow: auto;
    padding-bottom: 80px;
}
/* This is the container for the logo and search input */
#header 	{
	padding: 60px 0 20px 0;
	text-align: center;	
}

/* This is the box a user types their search */
#searchField	{
	background:url(images/input_bg.jpg) no-repeat 0 2px;
	font: 1.3em 'Hand of Sean', sans-serif;
	padding: 2px 0 0 10px;
	width: 480px;
	height: 40px;
	border: none;
	color: #365F91;
        letter-spacing: 1px;
        outline: none;
}

#searchField:focus{border:none;}

/* This is the 'explore!' form submit button */
#explore	{
	background: url(images/bt_explore.jpg) no-repeat 0 top;
	width: 140px;
	height: 40px;
	border: none;
	text-indent: -99999px;
	color: white;
	padding-top: 4px;
}

/* class setting porportions of the three boxes. original img width is 300x180 */
.col	{
	width: 270px;
	height: 140px;
	float: left;
	margin-left: 15px;
	padding: 40px 15px 0
}

/* left info box */
#searchBox	{
	background: url(images/search_bg.jpg) no-repeat 0 0;
}

/* middle info box */
#discoverBox	{
	background: url(images/discover_bg.jpg) no-repeat 0 0;
}

/* right info box */
#travelBox	{
	background: url(images/travel_bg.jpg) no-repeat 0 0;
}

/* These classes are needed to fix the footer overlap problem */
.footer {
    position: relative;
    width: 960px;
    margin: -55px auto 0;
    clear: both;
}
#footer {
    
}

/***********************
 * Unsorted
 ***********************/

 /* seudo class creating hover effect on submit button */
#explore:hover	{
	background: url(images/bt_explore.jpg) no-repeat 0 bottom;
}

/* suggestions overlay */

#autoComplete {
    display: block;
    background: #365F91;
    text-align: left;
    color: white;
    z-index: 50;
    margin-top: 20px;
    margin-left: 180px;
    position: absolute;
    padding: 0 20px 10px;
    -moz-border-radius: 15px;               -webkit-border-radius: 15px;
    -moz-box-shadow:  3px 3px 6px #777;    -webkit-box-shadow:  5px 5px 10px #333;
}

#speechCorner {
    border-color: transparent transparent #365F91;
    border-style: solid;
    border-width: 20px;
    width: 0px;
    height: 0px;
    margin: -20px 0 0 200px;
    position: absolute;
    z-index: 70;
}

.suggestion {
    cursor: pointer;

}
.suggestion:hover {
        text-decoration: underline;
}