@charset "UTF-8";
/* CSS Document for the Results page of 'explore.travellr'
Author: Robert Tilt, Jake Bresnehan, Nathaniel Burgess, John Cobb, Matthew Platts
*/


/***********************
* Divs
***********************/
body {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#D9D9D9));
    background: -moz-linear-gradient(top,  #FFF,  #D9D9D9);
    background-color: #d9d9d9;
    background-repeat: repeat-x;
}

#scrapbook-button {
    width:50px;
    height:50px;
    float:left;
    background-image: url("images/fav_star.png");
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: #dddddd;
}
#header {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}
#logo {
    margin-top: 13px;
    float: left;
}
#searchBar {
    float: right;
    margin: 8px 10px;

}
#footer {
    width: 960px;
    margin: 0 auto;
    clear: both;
    position: relative;
}
#feedToggle {
    background: #FFF;
}
/***********************
* Display Box (preview box)
***********************/

.displayBox {
    width: 200px;
    position:absolute;
}
.displayBox .inner {
    margin:5px;
    font-family: Arial;
    background:#fff;
    border: 2px solid black;
    -moz-border-radius:10px; -webkit-border-radius:10px;
    font-size: 0.8em;
    cursor: pointer;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    overflow: hidden;
    word-wrap: break-word;
}
.displayBox p {
    margin: 0;
    text-indent: 25px;
}
.displayBox .inner:hover {
    border-width: 4px;
    padding: 7px;
    margin: 4px;
    background-position: 4px 4px;
}
.displayBox .flickr:hover {
    padding: 0;
}
.displayBox .travellr {
    border-color : #365F91;
    background-image: url("images/icon_travellr.jpg");
}

.displayBox .twitter {
    border-color : #00ccff;
    background-image: url("images/icon_twitter.jpg");
}

.displayBox .flickr {
    border-color : #ff0099;
    background-image: url("images/icon_flickr.jpg");
    text-align: center;
    line-height : 148px;
    padding: 1px;
}

.displayBox .geckoReview { border-color : #6AE851; }
.displayBox .geckoTips{ border-color : #009900; }
.displayBox .lonelyPlanet { border-color : #660066; }

.displayBox .flickr img {
    vertical-align: middle;
    max-width: 125px;
    max-height:125px;
    margin: 0px 30px;
}

.displayBox .worldNomads {
    border-color: #f90;
    background-image: url("images/icon_worldNomads.jpg");
    text-align: center;
}
.displayBox .worldNomads p {
    text-indent: 0;
}
.displayBox .worldNomads img {
    display: block;
    margin: 0px auto;
    max-height: 100px;
    max-width: 130px;
    padding: 15px 0 10px;
}
.displayBox .ask {
    text-align: center;
    background-image: url("images/ask_travellr.png");
}
.displayBox .travellr .ask .inner {
    background-position: 0 0;
}
.displayBox .ask p {
    text-indent: 0;
    padding: 25px 5px;
}

.displayBox .handle {
    width: 20px;
    height: 29px;
    position: absolute;
    left: -5px;
    top: -15px;
    background-image: url("images/pin.png");
}
/***********************
 * Modal Box (popup)
 ***********************/

.modalMask{
    position: absolute;
    left : 0px;
    top : 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:500;
}
.modal{
    position: absolute;
    background : white;
    z-index:1000;
    -moz-border-radius:10px; -webkit-border-radius:10px;
    -moz-box-shadow:1px 1px 20px; -webkit-box-shadow:1px 1px 20px;
    max-width: 600px;
    max-height: 500px;
    font-family:Arial,Helvetica,Verdana,sans-serif;
    padding: 15px;
}
.modal .icons {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    line-height: 16px;
    font-size: 16px;
}
.icons .icon {
    display: inline-block;
    width: 16px;
    heigth: 16px;
    line-height: 16px;
    overflow: hidden;
    text-indent: -999999px;
    vertical-align: middle;
}
.icons .scrapbook-icon {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a1/Heart_add.png');
}

.modal .content {
    max-width: 600px;
    max-height: 450px;
    position: relative;
    overflow: auto;
    word-wrap: break-word;
}

.modal .modalClose{
    position: absolute;
    top: 0px;
    right: 0px;
}            

.modal .close-button{
    -moz-border-radius:15px ; -webkit-border-radius:15px ;
    background:url("images/closebox.png") no-repeat top right;
    cursor:pointer;
    height:29px;
    width:29px;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 10000;
    text-indent: -99999px;
}

.modal .travellr {
    background-color:#DDEEFF;
    padding:5px;
    -moz-border-radius:5px; -webkit-border-radius:5px;
    max-width: 400px;
    background: url("images/icon_travellr.jpg") no-repeat 5px 3px;

}
.modal .travellr .answer {
    border-top: 1px solid #ddd;
}
.modal .travellr .answer .asside {
    float: left;
    color: #ccc;
    margin-right: 0.1em;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

.modal h2 {
    padding:0;
    margin:0;
    font-size: 20px;
    color : #228;
    text-indent: 30px;
}

.modal .travellr a:hover {
    text-decoration: underline
}

.modal .travellr p {
    color:#333333;
    font-size:16px;
}
.modal .travellr p.date {
    font-size:12px;
    color:#aaa;
}

.modal .travellr.ask textarea {
    width: 100%;
    height : 7em;
    font-family: sans-serif;
}
.modal .travellr.ask input {
    display : block;
    margin-top: 1em;
    padding : 0.2em 1em;
    float: right;
}

.modal .travellr.ask .length {
    display: block;
    float: left;
    font-size: 1.5em;
    color : #999;
    margin-top: 0.5em;
}
.modal .travellr.ask a {
    display: block;
    text-align: right;
    font-size: 0.8em;
    clear: both;
}
.modal .travellr.ask form.error .length {
    color : #f44;
}
.modal .travellr.ask form.error textarea {
    border-color : #f44;
}

.modal .flickr {
    max-width: 560px;
    background: url("images/icon_flickr.jpg") no-repeat 5px 3px;
}

.modal .twitter {
    max-width: 400px;
    background: url("images/icon_twitter.jpg") no-repeat 5px 3px;
}

.modal .worldNomads {
    background: url("images/icon_worldNomads.jpg") no-repeat 5px 3px;
}
/***********************
 * Feed Toggle Panel
 ***********************/

#feedToggleWrapper {
    float: right;
}

#feedToggle {
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    border: 2px solid #365F91;
    height: 25px;
    width: 455px;
    padding:5px;
}
/***********************
 * Button Modification
 ***********************/           

#feedToggle .button {
    height: 24px;
    display: inline-block;
    outline: 0px none;
    margin-left: 10px;
    vertical-align: text-bottom;
}

#feedToggle .Travellr {
    background: url(images/feed_travellr.jpg);
    width: 90px;
    text-indent: -99999px;
}
#feedToggle .Twitter {
    background: url(images/feed_twitter.jpg);
    width: 95px;
    text-indent: -99999px;
}
#feedToggle .Flickr {
    background: url(images/feed_flickr.jpg);
    width: 70px;
    text-indent: -99999px;
}
#feedToggle .WorldNomads {
    background: url('images/feed_worldNomads.jpg');
    width: 146px;
    text-indent: -99999px;
}

#feedToggle .on { background-position: 0 top; }
#feedToggle .off { background-position: 0 bottom; }

/* This is the 'explore!' form submit button */
#explore	{
    background: url(images/bt_explore2.jpg) no-repeat 0 top;
    width: 102px;
    height: 29px;
    border: none;
    text-indent: -99999px;
    color: white;
    padding-top: 4px;
}

/* seudo class creating hover effect on submit button */
#explore:hover	{
    background: url(images/bt_explore2.jpg) no-repeat 0 bottom;

}


/***********************
 * Search Box
 ***********************/

#searchBar {
    float: right;
    margin: 8px 0 10px;
}



/* This is the box a user types their search */
#searchField	{
    background:url(images/input_bg2.jpg) no-repeat 0 0;
    font: 0.8em 'Hand of Sean', sans-serif;
    padding: 2px 0 0 17px;
    width: 345px;
    height: 29px;
    border: none;
    color: #365F91;
    letter-spacing: 1px;
    outline: none;
}

#searchField:focus{border:none;}


		#first_mb, #second_mb, #third_mb, #fourth_mb {
			width: 95%;
			margin: 0px auto;
		}

		#first_mb, #second_mb, #third_mb{
			background-color: #cecece;
		}
		#foot {
			text-align: right;
		}
		#download_img {
			margin-top: 20px;
			margin-right: 50px;
		}
