/* 
  styles.css
explore.travellr blue: #365F91
*/

body{
    font-family:Tahoma, Arial; font-size:14px;
    background: url("images/bg_large.png") repeat-x 0 40px;
    overflow-y:scroll;
    overflow-x:hidden;
}

body.locked{
	overflow-y:hidden;
}

.left{float:left}
.right{float:right}
.clear{clear:both}


/*
 * Tool Bar Styling
 */

#toolbar_wrapper{
  width:100%;
  height:45px;
  background:url(images/toolbar_bg2.gif);
  min-width:960px;
  position:fixed;
  top:0;
  left:0;
  z-index:20;
}

#toolbar_wrapper a {
  outline: none;
}

h1#logo{
  width:170px;
  height:45px;
  display:block;
  text-indent:-999px;
  background:url(images/logoSmall.png) no-repeat 15px 11px;
}

/*
 *  Search Bar
 */

#searchbar_wrapper{
  width:300px;
  height:45px;
}

#searchBar{
  width:300px;
  height:24px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background:#fff;
  margin:9px 0 0 0;
  border:1px #B5c4d6 solid;
}

#search_button{
  width:30px;
  background:url(images/search_icon.png) no-repeat 5px -16px;
  border:none;
  border-left:1px solid #e4eaf0;
  margin: 3px 0 0 0;
  height:16px;
  cursor:pointer;
}

#search_button:hover{
  background:url(images/search_icon.png) no-repeat 5px 0px;
}

#searchField{
  border:none;
  border:transparent;
  outline:none;
  height:18px;
  width:230px;
  margin:2px 0 0 8px;
  font-size:14px;
  color:#333;
}

#searchField:focus{
  border:none;
}

/*
 * Toolbar button classes
 */

.toolbar_button, .fav_button {
  height: 45px;
  cursor: pointer;
}
.button_hover {
  background:#365F91;
  color:#fff;
}
.toolbar_button a, .fav_button a {
  background:url("images/arrow.png") no-repeat scroll 109px 3px transparent;
  color:#365F91;
  display:block;
  font-size:13px;
  text-align:center;
}
.toolbar_button:hover a, .fav_button:hover a,
.toolbar_button.active a, .fav_button.active a {
  color:#fff;
  background:url("images/arrow.png") no-repeat scroll 109px -12px transparent;
}
.fav_button:hover,
.fav_button.active {
  /* this is the opaque value, the rgba is with the transparency. background: #365F91; */
  background: rgba(30, 77, 133, 0.9); 
}

/*
 * Specific Toolbar button styling
 */

#feed_button{
  width:140px;
  margin:0 0 0 20px;
}

#feed_button a{
  margin:14px 0 0;
  padding:0 20px 0 0;
}

#info_button{
  width:150px;
}

#info_button:hover{
	 background:#365F91;
}

#info_button a{
  margin:14px 0 0;
  background:none;
}

#info_button a:hover{
  color:#fff;
}

#favourites_button{
  width:130px;
  padding:0 0 0 10px;
}

#favourites_button a{
  background:url("images/favButton.png") no-repeat scroll 11px -1px transparent;
  height:22px;
  margin:10px 0 0;
  padding:4px 0 0 21px;
}

/*
 * Generic dropdown styles 
 */

.dropdown {
  position:absolute;
  color: #fff;
  top:44px;
  background:#365F91;
  display:none;
  z-index:100;
  padding:0 0 10px 0;
}

.dropdown li{
  display:block;
  font-size:12px;
  list-style:none outside none;
   padding:6px 45px;
}


.dropdown li:hover{
  background-color:#4870a0;
}

.dropdown h3 {
  font-weight: normal;
  padding:4px 5px;
  font-size:12px;
  font-weight:600;
}

/*
 * Styles to set feed icons for toggle menu
 */

.Travellrfeed_toggle{
		background: url(images/favs/travellr.png) no-repeat 11px 5px;
}
.Twitterfeed_toggle{
		background: url(images/favs/twitter.png) no-repeat 11px 5px;
}
.Flickrfeed_toggle{
		background: url(images/favs/flickr.png) no-repeat 11px 5px;
}
.WorldNomadsfeed_toggle{
		background: url(images/favs/worldNomads.png) no-repeat 11px 5px;
}
.GeckoGofeed_toggle{
		background: url(images/favs/geckoGo.png) no-repeat 11px 5px;
}
.TravellersPointfeed_toggle{
		background: url(images/favs/travellersPoint.png) no-repeat 11px 5px;
}
.Mapfeed_toggle{
		background: url(images/favs/google.png) no-repeat 11px 5px;
}

.Youtubefeed_toggle{
    background: url(images/favs/youtube.png) no-repeat 11px 5px;
}

.off, .unavailable {
  background-position: 11px -19px;
  color:#aaa;
}

/*
 * Positioning of specific drop-downs
 */

#feed_dropdown{
  left:490px;	  
}

#info_dropdown{
  left:630px;
}
#info_dropdown li:hover{
  background-color:#4870a0;
}

/*
 * ScrapBook Styles
 */

#favourties_wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  left:0;
  top:45px;
}

#favourites_dropdown {
  width: 100%;
  height: 140px;
  /* this is the opaque value, the rgba is with the transparency. background: #365F91; */
  background: rgba(30, 77, 133, 0.9) url("images/favourites_lip.gif") repeat-x bottom;
}

#favourites_dropdown .folder {
    font: bold 15px arial;
    float: left;
    color: #3f6491;
    width: 170px;
    height: 85px;
    line-height: 0px;
    padding: 45px 0 0;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
    background: url('images/favFolder_sprite.png') no-repeat top left;
}

#favourites_dropdown .folderOpen, #favourites_dropdown .folder:hover {
    background-position: bottom left;
    font-size: 16px;
}
#favourites_dropdown .fullFolder {
    background-position: top right;
}
#favourites_dropdown .fullFolder:hover {
    background-position: bottom right;
}
#favourites_dropdown .activeFolder {
    background-image: url('images/favFolder_sprite_active.png');
}

#favourites_dropdown .fullFolder:hover {

}
.addFavButton
{
    -moz-border-radius: 5px;
    padding: 10px 0px 10px 15px;
    color: #3f6491;
    /*color: #3f6491; */
    cursor: pointer;
    float: left;
    width: 80px;
    margin-top: 50px;
    background: #eee;
    background: -moz-linear-gradient(center top, #fff, #aaa);
    text-shadow: 0px 0px 1px #aaa;
}
.drop {
    background-position: bottom left;
}
.dropped {
    background-color: green;
}
.plain { 
    background-color: Blue;
}

/*
 * Information Styles
 */

#about_us_modal{
  margin:0 auto;
  width:500px;
  border: 2px solid;
  display:none;
}
#learn_more_modal{
  margin:0 auto;
  width:500px;
  border: 2px solid;

}
#partners_modal{
  margin:0 auto;
  width:500px;
  border: 2px solid;
  display:none;
}
#terms_and_conditions_modal{
  margin:0 auto;
  width:500px;
  border: 2px solid;
  display:none;
}
#contact_us_modal{
  margin:0 auto;
  width:500px;
  border: 2px solid;
  display:none;
}
.information{
  color:red;
}


/*
 * Container Styles
 */

.scrapbook-button {
  width: 100px;
  height: 100px;
  background: #0ff;
}

.container{
  width:100%;
  height:100%;
  margin:50px 0 0 0;
}
.container#scrapbook {
  margin-top: 200px;
  background: #eeffee;
}

/*
 * Slogan and Example Search Styles
 */

#slogan{
  background:url("images/slogan.png") no-repeat scroll 0 0 transparent;
  height:200px;
  margin:-125px 0 0 298px;
  width:640px;
  position:absolute;
  z-index:10;
}

#slogan p{
  color:#666;
  left:97px;
  position:relative;
  top:185px;
}

#slogan p a{
  color:#50BCFF;
  font-weight:600;
}

#slogan p a:hover{
  color:#48A7E3;
  font-weight:600;
  text-decoration:underline;
}

/*
 * Progress Bar Styles
 */
 
#progressBar {
    width: 300px;
    margin: 0 auto;
	position: relative;
	top: 300px;
    border: 1px solid #a3b5cc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

#progressBar div {
    background: #B5C4D6;
   
}



/*
 * Generic Display Box Styles
 */

.displayBox {
  width: 150px;
  position:absolute;
}
.displayBox .inner {
  margin:5px;
  font-family: Arial;
  font-size: 0.8em;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
  -moz-box-shadow: 1px 1px 6px #999;
  -webkit-box-shadow: 1px 1px 6px #999;
  padding:5px;
  background:#fff;
}

.displayBox .inner:hover {
  -moz-box-shadow: 2px 2px 6px #333;
  -webkit-box-shadow: 2px 2px 6px #333;
}

.displayBox .inner.dragged {
  z-index: 10000;
}

.displayBox .handle {
  width: 190px;
  height: 23px;
  left: 0;
  top: 0;
  position: absolute;
  cursor: move;
}

.displayBox img{
  width:180px;
}

/* 
 * Flickr Display Box Styles
 */
 
.displayBox .flickr{
	padding-top:26px;
	background:url(images/favs/flickr.png) no-repeat 85px 5px #fff;
}

/*
 * World Nomads Display Box Styles
 */
 
.displayBox .worldNomads{
	padding-top:26px;
	background:url(images/favs/worldNomads.png) no-repeat 85px 5px #fff;
}
/* 
 * TravellrsPoint Display Box Styles
 */
 
.displayBox .TravellersPoint{
	padding-top:26px;
	background:url(images/favs/travellersPoint.png) no-repeat 85px 5px #fff;
        color: #336699;
        text-align: center;
}

/*
 * Travellr Display Box Styles
 */
 
.displayBox .travellr{
	padding-top:35px;
	background:url(images/favs/travellr_long.png) no-repeat center 5px #fff;
        border:1px solid #365F91;
}

.displayBox .travellr p{
	color:#375D81;
	font-size:14px;
	padding:8px;
}


.displayBox .ask{
  padding-top:35px;
	background:url(images/travellr_ask.png) no-repeat center 5px #2575ce;
  border:1px solid #2575ce;
}

.displayBox .ask p{
  text-align:center;
	font-weight:bold;
	background: #2575ce;
	color: #fff;
}

/*
 * GeckoGo Display Box Styles
 */
 
.displayBox .geckoReview, .displayBox .geckoTips{
	padding-top:31px;
	background: url(images/favs/geckoGo_long.png) no-repeat center 5px #fff;
        border:1px solid #77bb00;
}

.displayBox .geckoReview p{
	color:#333;
	font-size:14px;
	padding:8px;
}

.geckoReview p:before{
  font-weight:600;
  color:#77bb00;
  font-style:normal;
  content: 'Gecko has a review for ';
}

.geckoTips p:before{
  font-weight:600;
  color:#77bb00;
  font-style:normal;
  content: 'Gecko travel tip: ';
}

/*
 * Twitter Display Box Styles
 */

.displayBox .twitter{
	/* background: url("images/twitter_arrow.png") no-repeat 16px 5px; */
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(250,250,250)));
  background: -moz-linear-gradient( center bottom, rgb(255,255,255) 0%, rgb(250,250,250) 100%);
}

.displayBox .twitter p{
	font-size:11px;
	color:#666;
}

.displayBox .twitter p:before {
	color:#70D4E2;
	font-size:11px;
	content:'via twitter: ';
	font-weight:bold;
}

.displayBox .twitter img{
	border:1px solid #EEEEEE;
	float:left;
	height:45px;
	margin:0 5px 0 0;
	padding:3px;
	width:45px;
}

/*
 * YouTube Display Box Styles
 */

.displayBox .youtube .yt_thumb{
  height:115px;
}

.displayBox .youtube .yt_play{
  left:79px;
  position:absolute;
  top:57px;
  width:32px;
}


/*
 * Generic Modal Styles
 */

.modalMask{
    position: absolute;
    left : 0px;
    top : 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:500;
}

.modal{
    position: absolute;
    max-width:650px;
    max-height:500px;
    background : white;
    z-index:1000;
    -moz-box-shadow:1px 1px 20px; -webkit-box-shadow:1px 1px 20px;
    font-family:Arial,Helvetica,Verdana,sans-serif;
    padding: 15px;
}

.modal .icons {
    float:right;
    line-height: 16px;
    font-size: 16px;
    margin:10px 0 0 0;
}

.icons .icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-indent: -999999px;
    vertical-align: middle;
    cursor: pointer;
    margin:0 0 0 10px;
}

.icons .scrapbook-icon {
    background: url('images/favButton.png') top center;
}

.icons .scrapbook-add:hover {
    background-position: center -26px;
}
.icons .scrapbook-remove {
    background-position: center -52px;
}
.icons .scrapbook-remove:hover {
    background-position: center -52px;
}

.icons .open-new-icon {
    background: url('images/openNew.png') center 1px;
}

.icons .open-new-icon:hover {
    background-position: center 27px;
}

.modal .content {
    position: relative;
    overflow: auto;
    word-wrap: break-word;
    overflow:hidden;
    max-width:620px; /*width of modal - 15px padding either side*/
    max-height:470px; /*height of modal - 15px padding either side*/
}

.modal .modalClose{
    position: absolute;
    top: 0px;
    right: 0px;
}

.modal .close-button{
    -moz-border-radius:15px ; -webkit-border-radius:15px ;
    background:url("images/closebox.png") no-repeat top right;
    cursor:pointer;
    height:29px;
    width:29px;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 10000;
    text-indent: -99999px;
}

/*
 * Twitter Modal Styles
 */

.modal .twitter .profile_image{
	height:48px;
	width:48px;
	float:left;
	border:1px solid #ddd;
	padding:6px;
}

.modal .twitter .tweet{
	float:left;
	padding:0 10px;
	width:300px;
}

.modal .twitter p.tweet_content{
	font:14px Georgia;
	line-height:18px;
	color:#333;
}

.modal .twitter .tweet a{
	color:#2FC2EF;
	font:14px 'Lucida Grande',sans-serif;
	font-weight:600;
}

.modal .twitter .date{
	color:#999;
	font:11px 'Lucida Grande', sans-serif;
        margin-top: 5px;
}

/*
 * Flickr Modal Styles
 */

.modal .flickr img{
    max-width:600px;
   max-height:450px;
}

.modal .flickr h2{
  background:url("images/favs/flickrIco.png") no-repeat scroll 0 5px transparent;
  font-size:20px;
  font-weight:normal;
  line-height:1.3em;
  margin:0 0 10px;
  padding:0 0 0 22px;
  min-height: 1.3em;
  display: block;
 }

.modal .flickr h2 a{
  color:#333;
}

/*
 * Travellr Modal Styles
 */
 
.modal .travellr h2 {
  font-size:18px; 
  margin:0 0 10px 0;
}

.modal .travellr h3{
  font-size:18px;
  color:#333;
  margin:10px 0;
}

.modal .travellr p{
  color:#333333;
  font-family:calibri,arial;
  font-size:13px;
  line-height:20px;
}

.modal .travellr a{
  color:#0096FF;
  font-weight:bold;
}

.modal .travellr a:hover{
  text-decoration:underline;
}

.modal .travellr .answers+a{
  float:right;
}

.modal .travellr .answers p{
  background:#eee;
  padding:5px;
  margin:10px 0;
}

.modal .travellr .answers p:before{
  font-weight:bold;
  content:'A:  ';
  font-size:13px;
}

.modal .ask h2{
 color:#0096FF;
}

.modal .ask textarea{
	-moz-border-radius:3px 3px 3px 3px;
	-moz-box-shadow:0.75px 0.75px 3px #C8C8C8 inset;
	-webkit-border-radius:3px 3px 3px 3px;
	-webkit-box-shadow:0.75px 0.75px 3px #C8C8C8 inset;
	height:100px;
	width:400px;
	background-color:#F7F7F7;
	border:1px solid #CACACA;
	color:#333333;
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:13px;
	padding:5px;
	overflow:auto;
	display:block;
}
.modal .ask input{
	float:right;
	background:#8EC94C;
	border:0 none;
	color:white;
	font-size:12px;
	font-weight:bold;
	height:25px;
	margin:0;
	padding:0 0 2px 0;
	text-shadow:1px 1px rgba(0, 0, 0, 0.25);
	width:120px;
	margin:10px 0 0 0;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.modal .worldNomads {
     margin-left: 100px;
     color: #666;
}
.modal .worldNomads a {
    color: #0067A8;
    font-size: 10px;
    text-transform: uppercase;
}
.modal .worldNomads div {
    line-height: 20px;
}
.modal .worldNomads img {
    margin: -56px 0 0 -97px;
}
.modal .worldNomads h2 a {
    color: #666;
    font-weight: 700;
    font-size: 20px;

}
.infoData {
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 10px 0;
    line-height: 16px;
}

.modal .GeckoReview h2 a, .modal .GeckoTips h2 a {
    color: #77bb00;
    margin-bottom: 15px;
    display: block;
}
.modal .GeckoReview div, .modal .GeckoTips div {
    color: #666;
    line-height: 20px;
}

.modal .TravellersPoint h2 a {
    color: #336699;
    font: 18px georgia, serif;
    display: block;
    padding-left: 24px;
    margin-bottom: 13px;
    background: url("images/favs/travellersPoint.png") no-repeat 0 2px;
}


/*
* moving objects on index
*/

#animation{
  position: absolute;
   z-index: 0;
}

#cloud{
  margin-left:-100px;
  margin-top: 100px;
   
}

#cloud_2{
  margin-top: 150px;

}

#cloud_3{
  margin-left:-300px;
  margin-top: 150px;
}

#cloud_4{
  margin-left:600px;
  margin-top: 250px;
}

#balloon{
  margin-top:300px;
  margin-left:200px;
}

